
#principal{
    background-color: black;
}

/* formatacao do menu*/
#navegacao{
    border: 5px red solid;  
    height: 100%;
    background: transparent;
}

.home{
    color: #79ffff;
    font-family: Georgia, serif; 
}

.descricao{
    color: #79ffff;
    font-family: Georgia, serif; 
}

.projetos{
    color: #79ffff;
    font-family: Georgia, serif; 
}

.contato{
    color: #79ffff;
    font-family: Georgia, serif; 
}