/* fontes*/
@font-face {
    font-family: "Pattanakarn";
    src: url("../fontes/FontsFree-Net-Pattanakarn-Regular.ttf");
  }

#principal {
    background-color: black;
}

/* formatacao do menu*/
#navegacao {
    border: 5px transparent solid;  
    height: 100%;
    background: transparent;
}

.home {
    color: #79ffff;
    font-family: Pattanakarn, Pattanakarn, Georgia, serif;
    text-transform: uppercase;
    text-decoration: none;
}

.descricao {
    color: #79ffff;
    font-family: Pattanakarn, Georgia, serif; 
    text-transform: uppercase;
    text-decoration: none;
}

.projetos {
    color: #79ffff;
    font-family: Pattanakarn, Georgia, serif;
    text-transform: uppercase;
    text-decoration: none;
}

.contato {
    color: #79ffff;
    font-family: Pattanakarn, Georgia, serif;
    text-transform: uppercase;
    text-decoration: none;
}

/* intro */
#intro {
    display: grid;
}

#intro h1 {
    color: #79ffff;
    font-family: Pattanakarn, Georgia, serif;
    text-transform: uppercase;
}

#intro h2 {
    color: #79ffff;
    font-family: Pattanakarn, Georgia, serif;
}